%h1
	=@user.username


-@user.carts.each do |cart|
	-cart.products.each do |product|
		%li="Name: #{product.title}"
		%li= "Quantity Ordered:#{product.find_cart(cart).quantity}"
		%li="Total Cost: #{product.find_cart(cart).quantity * product.price}"
