%h3{class: "text-center"} All The Categories

%div{class: "text-center"}
  - @categories.each do |category|
    %div{class: "debugging float-left small-margin small-padding product-display-box"}
      (insert picture here)
      %p=link_to category.name, category_path(category)
