%h3{class: "text-center"} All The Categories

%div{class: "text-center"}
  - @categories.each do |category|
    %div{class: "float-left small-margin small-padding product-display-box"}
      =image_tag "#{category.products.first.picture}", {class: "small-index-horse img-responsive"}
      =link_to category.name, category_path(category)


