%h1 New Product

-if @errors
  = pluralize(@errors.count, "error")
  prohibited this product from being saved:
  -@category.errors.full_messages.each do |msg|
    %p=msg

=form_for :category, url: categories_path do |f|

  %p= f.label :name
  %p= f.text_field :name

  %p= f.submit "Register"

%p=link_to "Cancel Registration", categories_path
