%h3.text-center= "#{@category.name}"

-if is_admin?
  =link_to "Edit or Delete", edit_category_path(@category)

- flash.each do |message_type, message|
  %div{class: "alert alert-#{message_type}"}= message

- @category.products.each do |each_product|
  %p=link_to each_product.title, product_path(each_product)
